<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <script src="socket.io/socket.io.js"></script>
    <script src="/js/FC1_Common.js"></script>
    <script src="/js/FC2_set_manu.js"></script>
    <script src="/js/fontawesome.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/manual.css" />
    <link rel="stylesheet" href="/css/auto.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="css/font.css" />
    <title>Scada Foam</title>
  </head>
  <script src="js/login.js"></script>
  <body>
    <%- include('header.ejs'); -%>
    <div class="operate_container">
      <div class="block_start_stop">
        <div class="start_stop-btn-save">
          <button class="btt_sua_luu" id="btt_Main_Save"><%= __('Save') %></button>
          <button class="btt_sua_luu" id="btt_Main_Edit" onclick="fn_Main_EditBtt()"><%= __('Edit') %></button>
        </div>

        <div class="setting_content-item_btn">
          <div class="block_btn-power block_btn-powerRS">
              <div class="setting_on">
                  <button class="setting_power-btn" id="change_on_btt_power" onclick="socket.emit('cmd_start_k', true);fn_change_on_btt_power()"><%= __('Power on') %></button>
              </div>
              <div class="setting_off">
                  <button class="setting_power-btn" id="change_off_btt_power" onclick="socket.emit('cmd_stop_k', true);fn_change_off_btt_power()"><%= __('Power off') %></button>
              </div>
          </div>
          <img id="Trang_thai_k" class="img_mobile_manual" />
          <script>
            //fn_SymbolStatus("Trang_thai_k", "tt_k", "Relay_contactor");
              //socket.removeAllListeners("Relay_contactor");
              socket.on('Relay_contactor', function(data){
              if (data == 0) {
                  document.getElementById("change_on_btt_power").style.display = "block";
                  document.getElementById("change_off_btt_power").style.display = "none";
                  document.getElementById('change_on_btt_power').style.backgroundColor = "gray";
              } else {
                  document.getElementById("change_off_btt_power").style.display = "block";
                  document.getElementById("change_on_btt_power").style.display = "none";
                  document.getElementById('change_off_btt_power').style.backgroundColor = "#00ff05";
              }});
          </script>
        </div>

        <div class="start_stop-btn-start">
          <button class="btn_on" id="btn_on_tn1" onclick="socket.emit('cmd_start_manual', true);">ON MANUAL</button>
          <img id="Trang_thai_manual" class="den_cd" />
          <script>
            //fn_SymbolStatus("Trang_thai_manual", "Den_xanh", "Den_manual");
            socket.removeAllListeners("Den_manual");
            socket.on("Den_manual", function (data) {
              if (data == 0) {
                document.getElementById("btn_on_tn1").style.backgroundColor = "gray";
              } else {
                document.getElementById("btn_on_tn1").style.backgroundColor = "#00ff05"; // Change to the desired color
              }
            });
          </script>
        </div>
        <div class="setting_input-header tem_res">
          <div class="setting_input-block-tem">
            <label class="lable_tem-input setting_input-block-tem-respon" id="lable_tem-input-low"><%= __('Low Temperature') %></label>
            <input id="nhiet_do_thap" disabled="disabled" type="number" />
            <script>
              fn_Main_IOField_IO("Cai_nhiet_do_thap", "nhiet_do_thap", 0);
            </script>
          </div>

          <div class="setting_input-block-tem2">
            <label class="lable_tem-input setting_input-block-tem-respon2" id="lable_tem-input-max"><%= __('High Temperature') %></label>
            <input id="nhiet_do_cao" disabled="disabled" type="number" />
            <script>
              fn_Main_IOField_IO("Cai_nhiet_do_cao", "nhiet_do_cao", 0);
            </script>
          </div>
        </div>
        
      </div>

      <div class="operate_row">
        <div class="block_pesido"></div>

        <!--//////////////////////////////////////////MÁY LẠNH 1 SLAVE2 ///////////////////////////////////-->
        <div class="setting_item">
          <h2 id="dieuhoa1" class="setting_item-title">
            <%= __('Air-conditioner') %> 1
          </h2>
          <div class="setting_content-item_btn">
            <div class="setting_on setting_on-responsive">
              <button class="setting_on-btn" onclick="socket.emit('cmd_start_ml2', true);"><%= __('Start') %></button>
            </div>
            <img id="Trang_thai_on_ml2" class="air_con" />
            <script>
              fn_SymbolStatus("Trang_thai_on_ml2", "Den_xanh", "On_off_manu_2");
            </script>
            <div class="setting_off">
              <button class="setting_on-btn" onclick="socket.emit('cmd_stop_ml2', true);"><%= __('Stop') %></button>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Operating mode') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="mode_man_2" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <script>
                fn_Main_IOField_IO("Mode_manu_2", "mode_man_2", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Fan speed') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="speed_manu_2" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <script>
                fn_Main_IOField_IO("Fan_speed_manu_2", "speed_manu_2", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Vane Position') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="position_manu_2" disabled="disabled" type="text">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
              <script>
                fn_Main_IOField_IO("Van_position_manu_2", "position_manu_2", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Temperature') %> (&deg;C)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <input id="temp_manu_2" disabled="disabled" type="number" min="16"max="31"/>
              <script>
                fn_Main_IOField_IO("Nhap_temp_manu_2", "temp_manu_2", 0);
              </script>
            </div>
          </div>
        </div>

        <!--//////////////////////////////////////////MÁY LẠNH 2 SLAVE3 ///////////////////////////////////-->
        <div class="setting_item">
          <h2 id="dieuhoa2" class="setting_item-title">
            <%= __('Air-conditioner') %> 2
          </h2>
          <div class="setting_content-item_btn">
            <div class="setting_on setting_on-responsive">
              <button class="setting_on-btn" onclick="socket.emit('cmd_start_ml3', true);"><%= __('Start') %></button>
            </div>
            <img id="Trang_thai_on_ml3" class="air_con" />
            <script>
              fn_SymbolStatus("Trang_thai_on_ml3", "Den_xanh", "On_off_manu_3");
            </script>
            <div class="setting_off">
              <button class="setting_on-btn" onclick="socket.emit('cmd_stop_ml3', true);"><%= __('Stop') %></button>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Operating mode') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="mode_man_3" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <script>
                fn_Main_IOField_IO("Mode_manu_3", "mode_man_3", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Fan speed') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="speed_manu_3" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <script>
                fn_Main_IOField_IO("Fan_speed_manu_3", "speed_manu_3", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Vane Position') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="position_manu_3" disabled="disabled" type="text">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
              <script>
                fn_Main_IOField_IO("Van_position_manu_3", "position_manu_3", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Temperature') %> (&deg;C)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <input id="temp_manu_3" disabled="disabled" type="number" min="16" max="31"/>
              <script>
                fn_Main_IOField_IO("Nhap_temp_manu_3", "temp_manu_3", 0);
              </script>
            </div>
          </div>
        </div>

        <!--//////////////////////////////////////////MÁY LẠNH 3 SLAVE4 ///////////////////////////////////-->
        <div class="setting_item">
          <h2 id="dieuhoa3" class="setting_item-title">
            <%= __('Air-conditioner') %> 3
          </h2>
          <div class="setting_content-item_btn">
            <div class="setting_on setting_on-responsive">
              <button class="setting_on-btn" onclick="socket.emit('cmd_start_ml4', true);"><%= __('Start') %></button>
            </div>
            <img id="Trang_thai_on_ml4" class="air_con" />
            <script>
              fn_SymbolStatus("Trang_thai_on_ml4", "Den_xanh", "On_off_manu_4");
            </script>
            <div class="setting_off">
              <button class="setting_on-btn" onclick="socket.emit('cmd_stop_ml4', true);"><%= __('Stop') %></button>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Operating mode') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="mode_man_4" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <script>
                fn_Main_IOField_IO("Mode_manu_4", "mode_man_4", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Fan speed') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="speed_manu_4" disabled="disabled" type="text">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <script>
                fn_Main_IOField_IO("Fan_speed_manu_4", "speed_manu_4", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Vane Position') %> (mod)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <select id="position_manu_4" disabled="disabled" type="text">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
              <script>
                fn_Main_IOField_IO("Van_position_manu_4", "position_manu_4", 0);
              </script>
            </div>
          </div>
          <div class="setting_content-item">
            <h2><%= __('Temperature') %> (&deg;C)</h2>
            <div class="setting_input setting_input-primary">
              <label for=""><%= __('Setting') %></label>
              <input
                id="temp_manu_4"
                disabled="disabled"
                type="number"
                min="16"
                max="31"
              />
              <script>
                fn_Main_IOField_IO("Nhap_temp_manu_4", "temp_manu_4", 0);
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="container-img-background container-img-background-manual">

      </div>
    </div>
    <%- include('btn_scroll.ejs'); -%>
  </body>
  <script>
    var cookieValue = document.cookie
      .split("; ")
      .find((row) => row.startsWith("role=admin"));
    if (!cookieValue) {
      const btnStart = document.getElementById("btn_on_tn1");
      const btnSaveEdit = document.querySelector(".start_stop-btn-save");
      const block_pesido = document.querySelector(".block_pesido");
      btnStart.disabled = true;
      btnStart.style.display = "none";
      btnSaveEdit.style.display = "none";
      btnSaveEdit.remove();
      btnStart.remove();
      block_pesido.remove();
    }

    const inputElement = document.querySelectorAll(".setting_input input");
    const selectElement = document.querySelectorAll(".setting_input select");
    const btnSave = document.getElementById("btt_Main_Save");

    let checkChange = false;
    function fn_checkChange() {
      if (!checkChange) {
        window.onbeforeunload = null;
      } else {
        window.onbeforeunload = () => true;
      }
    }
    inputElement.forEach((e) => {
      e.onchange = function () {
        checkChange = true;
        fn_checkChange();
      };
    });

    selectElement.forEach((e) => {
      e.onchange = function () {
        checkChange = true;
        fn_checkChange();
      };
    });

    btnSave.onclick = function () {
      checkChange = false;
      fn_checkChange();
      fn_Main_SaveBtt();
    };
  </script>
</html>
